<nav>
    <div class="links">
        <a href="/">
            <span class="material-symbols-outlined home-icon">
                home
            </span>
            Home
        </a>
        <a href="/songs">
            <span class="material-symbols-outlined song-icon">
                library_music
            </span>
            Songs
        </a>
        <a href="/singers">
            <span class="material-symbols-outlined mic-icon">
                interpreter_mode
            </span>
            Singers
        </a>
    </div>
</nav>