<html>

<head>
    <link rel="stylesheet" href="/css/buttons.css" />
</head>
<h1>Please authenticate as an admin before continuing</h1>
<form method="post" action="/<%=locals.path%>">
    <label>
        Username:
        <input name="username" required>
    </label>
    <label>
        Password:
        <input name="password" type="password" required>
    </label>
    <button type="submit" class="button">Authenticate</button>
</form>

</html>