<html>

<h1>Singer page</h1>
<ul>
    <% locals.singers.forEach((singer)=>{ %>
        <li>Singer: <%=singer.name%>
        </li>
        <% }) %>

</ul>

<a href="/singers/new">
    Add new singer
</a>

</html>