<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/resets.css" />
    <link rel="stylesheet" href="/css/singer-form.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <main>
            <div class="image-container">
            </div>
            <% if(locals.singer){ %>
                <form method="post" action="/singers/new/<%=singer.id%>">
                    <h1>Update Singer</h1>
                    <input placeholder="Name" name="singerName" pattern="^[a-zA-Z]+.*\S$" value="<%=singer.name%>"
                        required></input>
                    <button type="submit">Update singer</button>
                </form>
                <%}else{%>
                    <form method="post" action="/singers/new">
                        <h1>Add new singer</h1>
                        <input placeholder="Name" name="singerName" pattern="^[a-zA-Z]+.*\S$" required></input>
                        <button type="submit">Add singer</button>
                    </form>

                    <%}%>
        </main>
</body>

</html>