<html>
<%- include("partials/navbar.ejs") %>
    <h1>Singer page</h1>
    <ul>
        <% locals.singers.forEach((singer)=>{ %>
            <li>Singer: <%=singer.name%>
            </li>
            <a href="<%=`auth/singers/edit/${singer.id}`%>">
                <button>Edit</button>
            </a>
            <a href="<%=`/auth/singers/delete/${singer.id}`%>">
                <button>Delete</button>
            </a>
            <% }) %>

    </ul>

    <a href="/singers/new">
        Add new singer
    </a>

</html>