<html>

<head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/singer-page.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <main>
            <h1>Singers</h1>
            <div class="headers">
                <p class="name">Name</p>
                <p class="actions">Actions</p>
            </div>
            <ul>
                <% locals.singers.forEach((singer)=>{ %>
                    <li>
                        <p class="name">
                            <%=singer.name%>
                        </p>
                        <div class="actions-container">
                            <a href="<%=`singers/edit/${singer.id}`%>">
                                <button class="edit">
                                    <span class="material-symbols-outlined edit-icon">
                                        edit_square
                                    </span>
                                    <p>Edit</p>
                                </button>
                            </a>
                            <a href="<%=`singers/delete/${singer.id}`%>">
                                <button class="delete">
                                    <span class="material-symbols-outlined delete-icon">
                                        delete
                                    </span>
                                    <p>Delete</p>
                                </button>
                            </a>
                        </div>
                    </li>
                    <% }) %>
            </ul>
            <a href="/singers/new" class="add button">
                <span class="material-symbols-outlined add-icon">
                    library_add
            </a>
        </main>
</body>

</html>