@import "./resets.css";
@import "./variables.css";

body {
    background: linear-gradient(var(--background-color3),
            var(--background-color2),
            var(--background-color1));
}

main {
    height: 90%;
    padding: 4rem;
    max-width: 1000px;
    width: 100%;
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

input {
    font-size: 3rem;
    border-radius: var(--radius);
    border: none;
    padding: 0.5rem;
}

input:focus-visible {
    outline-color: var(--remark-color);
}


.image-container {
    display: none;
}

form {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color1);
    gap: 4rem;
    height: 100%;
    min-height: min-content;
    border-radius: var(--radius);
    background-image: url("../pictures/admin-page.jpg");
    background-size: cover;
    color: var(--text-color);
    width: 100%;
}

@media screen and (width>=1000px) {
    main {
        width: 90%;
        display: flex;
        place-self: center;
    }

    .image-container {
        display: block;
        background-image: url("../pictures/admin-page.jpg");
        background-position: center;
        background-size: cover;
        height: 100%;
        flex-grow: 1;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
    }

    h1 {
        font-size: 2rem;
    }

    form {
        padding: 0rem;
        max-width: 30%;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
        background-image: unset;
        height: 100%;
        justify-content: space-evenly;
        gap: 1rem;
    }

    input {
        font-size: initial;

    }
}