@import "./resets.css";
@import "./variables.css";

body {
    background: linear-gradient(var(--background-color3),
            var(--background-color2),
            var(--background-color1));
}

main {
    height: 90%;
    padding: .5rem;
    max-width: 1000px;
}

h1 {
    text-align: center;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color1);
    gap: 2rem;
}

input {
    font-size: 1.1rem;
    border-radius: var(--radius);
    border: none;
    padding: 0.5rem;
}

input:focus-visible {
    outline-color: var(--remark-color);
}


button {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--accent-color5);
}

@media only screen and (width<900px) {
    main {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .image-container {
        display: none;
    }

    form {
        max-width: 70%;
        height: 55%;
        min-height: min-content;
        border-radius: var(--radius);
    }
}

@media only screen and (width>=900px) {
    main {
        width: 90%;
        display: flex;
        place-self: center;
    }

    .image-container {
        background-image: url("../pictures/admin-page.jpg");
        background-position: center;
        background-size: cover;
        height: 100%;
        flex-grow: 1;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
    }

    form {
        width: 30%;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
}