@import "./resets.css";
@import "./variables.css";

.button {
    background-color: var(--accent-color1);
    text-decoration: none;
    border-radius: var(--radius);
    padding: 10px;
    font-size: 1.2rem;
    max-width: 200px;
    max-height: 40px;
    color: var(--text-color);
    place-self: center;
}

.add {
    position: fixed;
    bottom: 18rem;
    right: 8rem;
    transform: scale(4);
    display: grid;
    place-content: center;
}



.add-icon {
    color: inherit;
}

.edit {
    background-color: var(--accent-color3);
}

.delete {
    background-color: var(--accent-color4);
}

.edit,
.delete {
    text-decoration: none;
    border-radius: var(--radius);
    color: var(--text-color);
    border: none;
    min-width: 75px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button[type="submit"] {
    text-decoration: none;
    padding: 2rem;
    font-size: 3.5rem;
    background-color: var(--accent-color5);
    color: var(--text-color2);
    border: var(--text-color2) solid;
}



@media screen and (width>1000px) {
    .add {
        position: fixed;
        bottom: 5rem;
        right: 5rem;
        transform: scale(2);
    }

    .add:hover {
        background-color: transparent;
        outline: var(--accent-color1) 1px solid;
        color: var(--text-color2);
    }

    button[type="submit"] {
        font-size: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }

}