@import "./resets.css";
@import "./variables.css";

.button {
    background-color: var(--accent-color1);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    max-width: 200px;
    max-height: 40px;
    place-self: center;
}

.button:hover {
    background-color: transparent;
    border: var(--accent-color1) solid;
}

.edit {
    background-color: var(--accent-color3);
}

.delete {
    background-color: var(--accent-color4);
}

.edit,
.delete {
    text-decoration: none;
    border-radius: var(--radius);
    color: var(--text-color);
    border: none;
    min-width: 75px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}