.button {
    background-color: #00a3c2;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    grid-area: button;
    max-width: 200px;
    max-height: 40px;
    place-self: center;
}

.button:hover {
    background-color: transparent;
    border: #00a3c2 solid;
    cursor: pointer;
}