.button {
    background-color: #00a3c2;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    grid-area: button;
    max-width: 200px;
    max-height: 40px;
    place-self: center;
}

.button:hover {
    background-color: transparent;
    border: #00a3c2 solid;
    cursor: pointer;
}

.edit {
    background-color: #0171e3;
}

.delete {
    background-color: #BF092F;
}

.edit,
.delete {
    text-decoration: none;
    border-radius: 5px;
    color: white;
    border: none;
    min-width: 75px;
    height: 30px;
    text-decoration: none;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit:hover,
.delete:hover {
    cursor: pointer;
}