@import "./resets.css";
@import "./variables.css";

main {
    background: linear-gradient(var(--background-color3),
            var(--background-color2),
            var(--background-color1));
    height: 100%;
    padding: .5rem;
}

h1 {
    place-self: center;
}

.headers {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding: .2rem;
    border-bottom: var(--accent-color2) solid;
    font-weight: bold;
}

.song {
    grid-column: 1;
}

.singer {
    grid-column: 2;
}

.tone {
    grid-column: 3;
}

.actions,
.actions-container {
    grid-column: 4;
    text-align: end;
}

li {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    padding: .2rem;
}

li:hover {
    background-color: var(--accent-color2);
}

.actions-container {
    display: flex;
    justify-content: end;
    gap: 1rem;
}