@import "./resets.css";
@import "./variables.css";

body {
    background: linear-gradient(var(--background-color3),
            var(--background-color2),
            var(--background-color1));
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.headers {
    display: none;
}

li:hover {
    background-color: var(--accent-color2);
}

li {
    display: grid;
    align-items: center;
    padding: .5rem;
    padding-left: .7rem;
    outline: var(--accent-color1) solid;
    grid-template-columns: 2fr 4fr 0fr;
    grid-template-rows: 100px 70px;
    grid-template-areas:
        "song song actions"
        "singer tone actions";
    font-size: 2rem;
}

.song {
    grid-area: song;
    font-size: 3rem;
    font-weight: bold;
}

.singer {
    grid-area: singer;
    margin-left: 1rem;
}

.tone {
    grid-area: tone;
    padding-left: 1rem;
}

.actions-container {
    grid-area: actions;
    display: flex;
    gap: 1rem;
    align-items: end;
    padding: 5px;
}

.edit {
    grid-area: edit;
}

.delete {
    grid-area: delete;
}

.edit,
.delete {
    width: 100px;

}

button span {
    transform: scale(2.5);
}

.delete li:hover {
    background-color: var(--accent-color2);
}

.actions-container {
    display: flex;
    height: 100%;
}

.actions-container a {
    height: 100%;
}

.actions-container a button {
    height: 100%;
}

button p {
    display: none;
}

@media screen and (width>1000px) {
    main {
        padding: 1rem;
    }

    .headers {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-areas: none;
        padding: .2rem;
        border-bottom: var(--accent-color2) solid;
        font-weight: bold;
    }

    li {
        display: grid;
        padding-left: initial;
        padding: .2rem;
        outline: none;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: unset;
        grid-template-areas: none;
        align-items: center;
    }

    .song,
    .singer,
    .actions,
    .tone,
    .actions-container {
        grid-area: none;
        font-size: initial;
        font-weight: initial;
    }

    .song {
        grid-column: 1;
    }

    .singer {
        grid-column: 2;
    }

    .tone {
        grid-column: 3;
    }

    .actions,
    .actions-container {
        grid-column: 4;
        text-align: end;
    }

    button p {
        display: initial;
    }

    button span {
        transform: initial;
    }

    .actions-container {
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

    .edit,
    .delete {
        width: initial;
    }



}