nav {
    background-color: #00000012;
    padding: 0.7rem;
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    place-self: center;
    font-size: 1.5rem;
}

.links a {
    text-decoration: none;
    border: #00a3c2 solid;
    border-radius: 5px;
    color: black;
    padding: 4px;
}

.links a:hover {
    background-color: #05d3dd;
    color: white;
    /* TODO: Icon inside link is not changing color as the text does  */
}


.home-icon,
.song-icon,
.mic-icon {
    transform: translateY(2px) scale(1.3);
    color: #00a3c2;
}