@import "./resets.css";
@import "./variables.css";

nav {
    background-color: var(--background-color1);
    padding: 0.7rem;
    backdrop-filter: blur(3px);
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    place-self: center;
    font-size: 4rem;
}

.links a {
    text-decoration: none;
    background-color: var(--accent-color2);
    border-radius: var(--radius);
    color: var(--text-color2);
    padding: 2rem;
}



.home-icon,
.song-icon,
.mic-icon {
    transform: translateY(-12px) scale(3);
    color: var(--accent-color1);
    margin-right: 1rem;
}

@media screen and (width>1000px) {
    nav {
        position: sticky;
        top: 0;
    }

    .links {

        font-size: 1.2rem;
    }

    .links a {
        border: var(--accent-color1) solid;
        padding: 0.5rem;
        background-color: initial;
    }

    .links a:hover {
        color: var(--text-color);
        background-color: var(--accent-color2);
        /* TODO: Icon inside link is not changing color as the text does  */
    }

    .home-icon,
    .song-icon,
    .mic-icon {
        transform: translateY(5px) scale(1.2);
        margin-right: initial;
    }

}