* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    position: relative;
}

input,
select,
button {
    border-radius: var(--radius);
}

p {
    text-overflow: ellipsis;
    overflow: hidden;

}