@import "./resets.css";
@import "./variables.css";

main {
    background: linear-gradient(var(--background-color3),
            var(--background-color2),
            var(--background-color1));
    height: 100%;
    padding: .5rem;
}

h1 {
    place-self: center;
}

.headers {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .2rem;
    border-bottom: var(--accent-color2) solid;
    font-weight: bold;
}

.name {
    grid-column: 1;
}

.actions,
.actions-container {
    grid-column: 2;
    text-align: end;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: .2rem;
}

li:hover {
    background-color: var(--accent-color2);
}

.actions-container {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}