@import "./resets.css";
@import "./variables.css";

body {
    background: linear-gradient(var(--background-color3),
            var(--background-color2),
            var(--background-color1));
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
}

.headers {
    display: none;
}

li:hover {
    background-color: var(--accent-color2);
}

li {
    display: grid;
    align-items: center;
    padding: 0.5rem;
    padding-left: 0.7rem;
    outline: var(--accent-color1) solid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 170px;
    grid-template-areas:
        "name  actions";
    font-size: 2rem;
}

.name {
    grid-area: name;
    font-size: 3rem;
    font-weight: bold;
}

.actions-container {
    grid-area: actions;
    display: flex;
    gap: 1rem;
    align-items: end;
    padding: 5px;
}

.edit {
    grid-area: edit;
}

.delete {
    grid-area: delete;
}

.edit,
.delete {
    width: 100px;
}

button span {
    transform: scale(2.5);
}


.delete li:hover {
    background-color: var(--accent-color2);
}

.actions-container {
    display: flex;
    height: 100%;
}

.actions-container a {
    height: 100%;
}

.actions-container a button {
    height: 100%;
}

button p {
    display: none;
}


@media screen and (width>1000px) {
    main {
        padding: 1rem;
    }

    .headers {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-areas: none;
        padding: 0.2rem;
        border-bottom: var(--accent-color2) solid;
        font-weight: bold;
    }

    li {
        display: grid;
        padding-left: initial;
        padding: 0.2rem;
        outline: none;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: initial;
        grid-template-areas: none;
        align-items: center;
    }

    .name,
    .actions,
    .actions-container {
        grid-area: none;
        font-size: initial;
        font-weight: initial;
    }

    p {
        margin: initial;
        padding: initial;
    }

    .name {
        grid-column: 1;
    }

    .actions,
    .actions-container {
        grid-column: 2;
        text-align: end;
    }

    .headers p,
    li p {
        padding-left: .7rem;
        margin: 0;
    }

    button p {
        display: initial;
    }

    button span {
        transform: initial;
    }

    .actions-container {
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

    .edit p,
    .delete p {
        display: initial;
    }

    .edit,
    .delete {
        width: initial;
    }
}