@import "./auth-page.css";

select {
    padding: 1rem;
    font-size: 2rem;
    height: 70px;
}

@media screen and (width>1000px) {
    select {
        padding: 0.5rem;
        font-size: initial;
        height: initial;
    }

}