:root {
    --accent-color1: #00a3c2;
    --accent-color2: #05d3dd;
    --accent-color3: #0171e3;
    --accent-color4: #BF092F;
    --accent-color5: #ed7833;
    --remark-color: #d94f00;
    --background-color1: #b0dff1;
    --background-color2: #d8ecf3;
    --background-color3: #f0f4f5;
    --text-color: #ffffff;
    --text-color2: #000;
    --radius: 5px;
    --navbar-background-color: #ddd8;
}